{
    "presets": [
        "es2015",
        "stage-0",
        "react"
    ],
    "plugins": [
        // ["import", [{ "libraryName": "antd", "style": "css" }]]
        // ["import", [{ "libraryName": "antd", "style": true }]] // load les
    ]
}