* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 14px;
  background-color: #444444;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#000), to(#333));
  background-image: -webkit-linear-gradient(left top, #000, #333);
  background-image: -moz-linear-gradient(left top, #000, #333);
  overflow: hidden;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
#info {
  position: absolute;
  z-index: 10;
  left: 25px;
  top: 25px;
}
#defs {
  height: 0;
  width: 0;
}
.frame {
  fill: none;
  pointer-events: all;
}
.feature {
  fill: #6CCC00;
  stroke: #fff;
  stroke-width: .5px;
}
.globe {
  stroke: rgba(255, 255, 255, 0.5);
  stroke-width: .25px;
}
.star {
  fill: #fff;
  stroke: rgba(255, 255, 255, 0.5);
  stroke-width: .25px;
}
/*self*/
.Popup {
  padding: 5px;
  color: #fff;
  border-radius: 10px;
}
#dialogBox {
  font-size: 14px;
}
#dialogBox.Popup {
  padding: 10px;
  background: #fff;
}
#dialogBox rect {
  padding: 5px 10px;
}
#dialogBox image:hover {
  cursor: pointer;
}
li dl dt,
li dl dd {
  float: left;
}
#resizeBig {
  display: none;
  border-radius: 3% 3%;
  box-shadow: 2px 2px 5px #867f7f;
  color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99;
  width: 300px;
  height: 300px;
  background: #2CA143;
  text-align: center;
  padding: 5px 10px;
}
#resizeBig #close {
  cursor: move;
  height: 25px;
}
#resizeBig p.close {
  float: right;
  font-size: 20px;
  cursor: pointer;
  text-align: right;
  margin-right: 10px;
  height: 20px;
  width: 30px;
}
#resizeBig image {
  z-index: inherit;
  margin: 10px auto;
}
#resizeBig .desc {
  width: 250px;
  height: 100px;
  margin: 0 auto;
}
#resizeBig .desc li {
  float: left;
  margin: 0 auto;
  padding: 5px 10px;
}
#resizeBig .desc li dt {
  width: 100px;
}
#resizeBig .desc li dd {
  width: 120px;
  overflow: hidden;
}
#resizeBig .desc li dt,
#resizeBig .desc li dd {
  float: left;
}
