* {
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  width: 1px;
}
::-webkit-scrollbar-track {
  background-color: #fff;
}
::-webkit-scrollbar-thumb {
  background-color: #fff;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #fff;
}
::-webkit-scrollbar-thumb:active {
  background-color: #fff;
}
body {
  padding: 5px 10px;
  font-size: 14px;
  background-color: #444444;
  color: #fff;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#000), to(#333));
  background-image: -webkit-linear-gradient(left top, #000, #333);
  background-image: -moz-linear-gradient(left top, #000, #333);
  width: 100%;
  height: 100%;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
#loginBox {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
}
#loginBox .content {
  width: 300px;
  height: 30px;
  margin: 30% auto;
  vertical-align: middle;
  text-align: center;
}
#loginBox .content li {
  clear: both;
  height: 30px;
  line-height: 30px;
}
#loginBox .content li span,
#loginBox .content li input {
  float: left;
}
#loginBox .content li span {
  display: block;
  width: 80px;
}
#loginBox .content li input {
  width: 150px;
  height: 20px;
  margin: 5px 0;
  text-align: center;
  border: none;
  border-radius: 2px;
}
#loginBox .content li input[type='submit'] {
  width: 100px;
  margin: 10px 0 0 80px;
}
#defs {
  height: 0;
  width: 0;
}
.frame {
  fill: none;
  pointer-events: all;
}
.feature {
  fill: #6CCC00;
  stroke: #fff;
  stroke-width: .5px;
}
.globe {
  stroke: rgba(255, 255, 255, 0.5);
  stroke-width: .25px;
}
.star {
  fill: #fff;
  stroke: rgba(255, 255, 255, 0.5);
  stroke-width: .25px;
}
/*self*/
.Popup {
  padding: 5px;
  color: #fff;
  border-radius: 10px;
}
#dialogBox {
  font-size: 14px;
}
#dialogBox.Popup {
  padding: 10px;
  background: #fff;
}
#dialogBox rect {
  padding: 5px 10px;
}
#dialogBox image:hover {
  cursor: pointer;
}
li dl dt,
li dl dd {
  float: left;
}
#resizeBig {
  display: none;
  border-radius: 3% 3%;
  box-shadow: 2px 2px 5px #867f7f;
  color: #fff;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 99;
  width: 300px;
  height: 300px;
  background: #2CA143;
  text-align: center;
  padding: 5px 10px;
}
#resizeBig #close {
  cursor: move;
  height: 25px;
}
#resizeBig p.close {
  float: right;
  font-size: 20px;
  cursor: pointer;
  text-align: right;
  margin-right: 10px;
  height: 20px;
  width: 30px;
}
#resizeBig image {
  z-index: inherit;
  margin: 10px auto;
}
#resizeBig .desc {
  width: 250px;
  height: 100px;
  margin: 0 auto;
}
#resizeBig .desc li {
  float: left;
  margin: 0 auto;
  padding: 5px 10px;
}
#resizeBig .desc li dt {
  width: 100px;
}
#resizeBig .desc li dd {
  width: 120px;
  overflow: hidden;
}
#resizeBig .desc li dt,
#resizeBig .desc li dd {
  float: left;
}
#earth {
  position: absolute;
  left: 0;
  top: 0;
}
#chat {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
}
#chatDiv {
  position: absolute;
  width: 95%;
  height: 98%;
  overflow: auto;
  padding: 2%;
}
#chatDiv p {
  background: #fff;
  color: #000000;
  padding: 5px 10px;
  width: 60%;
  max-width: 60%;
  margin-bottom: 8px;
  border-radius: 2px;
}
#chatDiv .commonStyle {
  background: fff;
  color: #000;
  border-radius: 5px;
  padding: 5px 10px;
}
#chatDiv section {
  clear: both;
  margin-bottom: 10px;
  position: relative;
  z-index: 2;
}
#chatDiv span {
  width: 30px;
  height: 30px;
  background: fff;
  color: #000;
  border-radius: 5px;
  padding: 5px 10px;
}
#chatDiv span img {
  cursor: pointer;
  width: 30px;
  height: 30px;
}
#chatDiv .content {
  background: fff;
  color: #000;
  border-radius: 5px;
  padding: 5px 10px;
  max-width: 225px;
  display: inline-block;
  position: relative;
  margin: 0 15px 0 15px;
  background-color: #fff;
  box-shadow: inset 0 0 1px #fff;
  vertical-align: top;
  word-break: break-all;
}
#chatDiv .other {
  text-align: left;
  float: left;
}
#chatDiv .other .content:before {
  content: "";
  position: absolute;
  left: -7px;
  top: 4px;
  width: 0;
  height: 0;
  border-top: solid transparent;
  border-right: 7px solid #fff;
  border-bottom: 4px solid transparent;
}
#chatDiv .myself {
  text-align: right;
  float: right;
}
#chatDiv .myself .content {
  background: #2CA143;
  color: #fff;
}
#chatDiv .myself .content:before {
  content: "";
  position: absolute;
  right: -7px;
  top: 4px;
  width: 0;
  height: 0;
  border-top: solid transparent;
  border-left: 7px solid #2CA143;
  border-bottom: 4px solid transparent;
}
#inputBox {
  padding: 5px;
  padding-left: 1%;
  background: #F3F3F5;
  position: absolute;
  z-index: 3;
  bottom: 20px;
  width: 100%;
}
#inputBox .inputDia {
  padding: 5px 10px;
  width: 75%;
  margin-left: 1%;
}
#inputBox .sendBtn {
  cursor: pointer;
  background: #2CA143;
  color: #fff;
  padding: 5px 10px;
  border: 1px solid #fff;
  border-radius: 3px;
  margin-left: 1%;
  width: 15%;
}
